<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Plant Store</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body> -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="/" class="logo">Plants<span>.</span></a>
        <nav class="navbar">
            <a href="/index">Home</a>
            <a href="/about">About</a>
            <a href="/categories">Categories</a>
            <a href="/products">Products</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart" id="cart-btn"></a>
            <a href="/login" class="fas fa-user"></a>
        </div>

        <div class="shopping-cart"> 
            <div class="cart-wrapper">
                <!--div class="box">
                    <i class="fas fa-trash"></i>
                    <img src="images/plant1.jpg" height="100" alt="space">
                    <div class="content">
                        <h3 style="font-size=50px">Plant</h3>
                        <span class="price">Rs.100/-</span>
                        <span class="quantity">qty :1</span>
                         <i class="fas fa-trash"></i>
                    </div>
                </div>
                <div class="box">
                    <i class="fas fa-trash"></i>
                    <img src="images/bouquet1.jpg" height="100" alt="space">
                    <div class="content">
                        <h3>Bouquet</h3>
                        <span class="price">Rs.300/-</span>
                        <span class="quantity">qty :1</span>
                    </div>
                </div-->
            </div>
            
            <div class="subtotal">sub total:Rs.0.00/-</div>
            <a href="/login" class="btn">checkout</a>
        </div>
    </header>