<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Plant Store</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <%- include('base'); -%>
      </body>
    <body>
        <section class="products" id="products">
            <h1 class="heading"><span> Bouquets</span></h1>
          <div class="box-container">

            <div class="box">
              <div data-id="25" class="image">
                <img src="images/bouquet2.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>Keerthana Olive Gardens</p>
                  <div class="price"> 560/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div> 
            </div>

            <div class="box">
              <div data-id="26" class="image">
                <img src="images/bouquet3.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>My Green House</p>
                  <div class="price"> 1290/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div> 
            </div>

            <div class="box">
              <div data-id="27" class="image">
                <img src="images/bouquet4.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>Devi Sridevi Nursery</p>
                  <div class="price"> 1000/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div> 
            </div>

            <div class="box">
              <div data-id="28" class="image">
                <img src="images/bouquet5.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>Gardening Shop</p>
                  <div class="price"> 650/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div> 
            </div>

            <div class="box">
              <div data-id="29" class="image">
                <img src="images/bouquet6.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>Devi Sridevi Nursery</p>
                  <div class="price"> 1000/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div> 
            </div>

            <div class="box">
              <div data-id="30" class="image">
                <img src="images/bouquet7.jpg" alt="">
                <div class="content">
                  <h3>Bouquet</h3>
                  <p>Gardening Shop</p>
                  <div class="price"> 890/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>
            </div>
              
          </div>
          <a href="miniature.html" class="shop">Explore More</a>
        </section>

        <%- include('footer'); -%>
</body>
</html>

