<section class="footer">

    <div class="box-container">
        <div class="box">
            <h3>branch locations</h3>
            <a href="#">Devi Sridevi Nursery</a>
            <a href="#">Gardening shop</a>
            <a href="#">Keerthana Olive Gardens</a>
            <a href="#">My Green House</a>
            <a href="#">Rama Krishna Nursery</a>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="/index">home</a>
            <a href="/categories">category</a>
            <a href="/products">product</a>
            <a href="/about">about</a>
            <a href="/contact">contact</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">linkedIn</a>
            <a href="#">instagram</a>
        </div>
        <div class="box">
            <h3>Contact us</h3>
            <p class="fas fa-phone">   +91 1234567890</p><br>
            <p class="fas fa-envelope">   Email</p>
        </div>

    </div>

    <h1 class="credit"> creators <span> &#169; Lasya | Shahid | Suhail | Divya | Uma Shankar </span> | all rights reserved! </h1>
    
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="script.js"></script>