<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Plant Store</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="style1.css">
    </head>
    <body>
      <%- include('base'); -%>
    </body>
    <body>


        <section class="products" id="products">
            <h1 class="heading"><span> Miniature Plants</span></h1>
          <div class="box-container">

            <div class="box">
                  <div data-id="19" class="image">
                    <img src="images/miniatureglass.jpg" alt="">
                    <div class="content">
                      <h3>Glass Miniature</h3>
                      <p>My Green House</p>
                      <div class="price"> 250/- </div>
                      </div>
                      <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="add-to-cart-btn">Add to cart</a>
                        <a href="#" class="fas fa-share"></a>
                      </div>
                  </div>        
            </div>

            <div class="box">
              <div data-id="20" class="image">
                <img src="images/miniaturehanging.jpg" alt="">
                <div class="content">
                  <h3>Hanger Miniature</h3>
                  <p>Rama Krishna Nursery</p>
                  <div class="price"> 350/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>              
          </div>

            <div class="box">
              <div data-id="21" class="image">
                <img src="images/miniaturejar.jpg" alt="">
                <div class="content">
                  <h3>Jar Miniature</h3>
                  <p>Gardening Shop</p>
                  <div class="price"> 400/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>
            </div>

            <div class="box">
              <div data-id="22" class="image">
                <img src="images/miniatureseries.jpeg" alt="">
                <div class="content">
                  <h3>Series Planters</h3>
                  <p>My Green House</p>
                  <div class="price"> 500/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>
            </div>

            <div class="box">
              <div data-id="23" class="image">
                <img src="images/miniatureterrariums.jpg" alt="">
                <div class="content">
                  <h3>Terranius Miniature</h3>
                  <p>Devi Sridevi Nursery</p>
                  <div class="price"> 200/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>
          </div>

            <div class="box">
              <div data-id="24" class="image">
                <img src="images/miniaturebottle.jpg" alt="">
                <div class="content">
                  <h3>Bottle Miniature</h3>
                  <p>Keerthana Olive Gardens</p>
                  <div class="price"> 100/- </div>
                  </div>
                  <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="add-to-cart-btn">Add to cart</a>
                    <a href="#" class="fas fa-share"></a>
                  </div>
              </div>
            </div>

          </div>
          <a href="plants.html" class="shop">Explore More</a>
        </section>

        <%- include('footer'); -%>
  
    </body>
</html>